body {
  margin: 0;
  padding: 0;
  min-width: 200px;
  font-family: sans-serif;
}

/* HEADER SECTION */

header,
.social-icons-container,
.social-icons-container a,
#aside-menu-box,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
  height: 55vh;
  min-height: 400px;
  flex-direction: column;
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
  background-size: cover;
}

nav {
  display: none;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 2.2rem;
}

.social-icons-container {
  width: 200px;
  justify-content: space-between;
}

.social-icons-container a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  color: whitesmoke;
}

.social-icons-container a:hover {
  color: lightgray;
  border-radius: 50%;
  box-shadow: 0 0 15px white;
  transition: color 0.5s;
}

.social-icons-container a i {
  font-size: 1.2rem;
}

.aside-menu-icon-container img {
  width: 25px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 15px;
}

#aside-menu-box {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(176, 172, 172, 0.826);
  box-shadow: 0 0 5px gray;
}

#aside-menu-box a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

#aside-menu-box a:hover,
nav a:hover {
  color: lightgray;
  transition: color 0.5s;
}

#aside-menu-box:target {
  width: auto;
  height: auto;
  padding: 0.5em 0.5em 0 0.5em;
  top: 35px;
  right: 15px;
}

/* SECTION */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

/* ABOUT SECTION */

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  margin-top: -6em;
  margin-bottom: 4em;
  z-index: 2;
  box-shadow: 0 0 15px gray;
}

.about-container {
  color: gray;
  margin: auto;
  font-weight: bold;
  width: 75%;
  max-width: 850px;
}

.about-container p {
  margin-top: 0;
  font-size: 1.2rem;
}

/* SKILLS SECTION */

h2 {
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #2857a4;
}

#skills-section {
  background-color: rgb(240, 240, 240);
}

.skills-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-bottom: 2em;
}

.outer-skill-box {
  width: 150px;
  height: 35px;
  background: lightgray;
  border-radius: 15px;
  box-shadow: 0 0 5px lightgray;
}

.inner-skill-box {
  color: whitesmoke;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  box-shadow: 0 0 5px lightgray;
}

.blue-text-color {
  color: #2857a4;
}

.blue-color {
  background-color: #2857a4;
}

.orange-color {
  background-color: rgb(228, 83, 30);
}

.pink-color {
  background-color: rgb(233, 187, 194);
}

.purple-color {
  background-color: rgb(129, 23, 129);
}

.cadet-color {
  background-color: cadetblue;
}

.seventy-percent {
  width: 70%;
}

.fifty-percent {
  width: 50%;
}

.sixty-percent {
  width: 60%;
}

.forty-percent {
  width: 40%;
}

.eighty-percent {
  width: 80%;
}

/* PORTFOLIO SECTION */

.portfolio-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin-top: 5em;
  margin-bottom: 2em;
}

.outer-box img {
  width: 220px;
  height: 190px;
}

.outer-box {
  position: relative;
}

.inner-box {
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}

.outer-box:hover .inner-box {
  color: whitesmoke;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(112, 112, 112, 0.265);
  box-shadow: 0 0 15px cadetblue;
}

/* BACKGROUND SECTION */

#background-section {
  background-color: rgb(240, 240, 240);
}

.background-container {
  position: relative;
  margin-top: 5em;
  margin-bottom: 2em;
}

.timeline-divider {
  position: absolute;
  width: 0;
  height: 69.5%;
  border: 2px dotted lightgray;
  left: -0.8em;
  top: 3.4em;
}

.plane-container {
  transform: rotate(90deg);
  position: sticky;
  margin-top: -1.7em;
  z-index: 2;
  top: 15%;
}

.plane-container i {
  color: #2857a4;
  font-size: 1.45rem;
}

.timeline-box {
  text-align: right;
}

.timeline-box:nth-child(3) {
  margin: 3em 0;
}

.timeline-box::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: gray;
  border-radius: 50%;
  left: -1em;
  margin-top: 3em;
}

.designation-text {
  font-size: 1.1rem;
  color: #2857a4;
}

.company-name-text {
  color: orange;
  font-weight: bold;
}

.company-name-text,
.designation-text,
.work-year-text {
  margin: 0;
}

.work-description-text {
  font-size: 0.89rem;
}

.work-description-text,
.work-year-text {
  color: rgb(88, 88, 88);
}

/* CONTACT SECTION */

#contact-section {
  background: linear-gradient(#2857a4, #403066);
  gap: 3em;
}

#contact-section h2,
#contact-section {
  color: whitesmoke;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.form-container input,
.form-container textarea {
  width: 100%;
  color: white;
  background: none;
  border: none;
  outline: none;
  padding: 1em;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
  font-size: 1rem;
}

.form-container input {
  padding: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form-container button {
  padding: 0.5em 1em;
  background: none;
  border: none;
  border: 2px solid whitesmoke;
  font-size: 1.1rem;
  color: whitesmoke;
}

/* MIN WIDTH 540 PX */

@media (min-width: 542px) {
  /* HEADER SECTION  */

  header {
    height: 45vh;
  }

  .aside-menu-icon-container,
  #aside-menu-box {
    display: none;
  }

  nav {
    display: flex;
    gap: 0.8em;
    margin-top: 1em;
    margin-bottom: auto;
  }

  nav a {
    color: whitesmoke;
    text-decoration: none;
  }

  .social-icons-container {
    margin-bottom: auto;
  }

  /* ABOUT SECTION */

  .profile-pic {
    width: 150px;
    height: 150px;
    margin-top: -6.5em;
  }

  .about-container p {
    font-size: 1.3rem;
  }

  /* PORTFOLIO SECTION */

  .portfolio-container {
    gap: 5em;
  }

  .outer-box img {
    width: 260px;
    height: 200px;
  }
}

@media screen and (min-width: 542px) and (max-width: 767px) {
  /* HEADER SECTION  */

  nav {
    display: flex;
    gap: 3.5vw;
    margin-top: 1em;
    margin-bottom: auto;
  }

  nav a {
    font-size: 3vw;
  }

  h1 {
    font-size: 2.3rem;
  }

  /* ABOUT SECTION */
}

@media (min-width: 768px) {
  /* HEADER SECTION */
  header {
    height: 40vh;
  }

  nav {
    gap: 2em;
  }

  nav a {
    font-size: 24px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .social-icons-container {
    width: 250px;
    justify-content: space-between;
  }

  .social-icons-container a {
    width: 42px;
    height: 42px;
  }

  .social-icons-container a i {
    font-size: 1.4rem;
  }

  /* ABOUT SECTION */

  .about-container p {
    font-size: 1.4rem;
  }

  /* SKILLS SECTION */

  h2 {
    font-size: 2rem;
  }

  .skills-container {
    width: 75%;
    max-width: 800px;
  }

  .outer-skill-box {
    width: 165px;
    height: 35px;
  }

  /* PORTFOLIO SECTION */

  .portfolio-container {
    justify-content: space-evenly;
    max-width: 850px;
  }

  .portfolio-container img {
    width: 320px;
    height: 260px;
  }

  .inner-box {
    font-size: 1.5rem;
  }

  /* BACKGROUND SECTION */

  .background-container {
    width: 90%;
    max-width: 800px;
  }

  .timeline-divider {
    left: 50.25%;
    top: 4em;
  }

  .timeline-box {
    width: 300px;
  }

  .plane-container i {
    color: #2857a4;
    font-size: 2rem;
  }

  .timeline-box:nth-child(2n) {
    left: 0;
    margin-left: auto;
  }

  .timeline-box::before {
    display: none;
  }

  .timeline-box::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    margin-top: -12em;
    left: 49.8%;
  }

  .designation-text {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .company-name-text {
    font-size: 1.1rem;
  }

  .work-description-text {
    font-size: 1rem;
  }

  /* CONTACT SECTION */

  .contact-container {
    justify-content: space-between;
    max-width: 1200px;
  }

  .form-container {
    width: 40%;
  }

  .personal-info-container {
    width: 50%;
  }

  .personal-info-container h3 {
    font-size: 1.3rem;
  }

  .personal-info-container p {
    font-size: 1.1rem;
  }
}
