/* "https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg" */
/* 1.  https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png
2.  https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png */
/* <a href="#"><i class="fa-brands fa-linkedin"></i></a>
<a href="#"><i class="fa-brands fa-stack-overflow"></i></a>
<a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
<a href="#"><i class="fa-brands fa-facebook"></i></a> */
/* "fas fa-th-list" "fas fa-chalkboard-teacher" */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* HEADER SECTION */

header {
  position: relative;
  height: 45vh;
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-menu-icon {
  width: 23px;
  height: 33px;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

#aside-menu-box {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 2em;
  box-shadow: 0px 0px 15px gray;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

#aside-menu-box a {
  color: white;
  font-size: 1.19rem;
  text-decoration: none;
  margin: 0.2em 0.5em;
}

#aside-menu-box a:hover {
  color: lightgray;
  transition: 1s ease-in-out;
}

#aside-menu-box:target {
  width: auto;
  height: auto;
  background-color: rgba(176, 172, 172, 0.826);
}

#profile-title {
  font-size: 2.2rem;
  color: whitesmoke;
  margin-bottom: 0;
}

nav {
  display: none;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.social-icons {
  min-width: 180px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-icons a {
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.social-icons a:hover {
  color: lightgray;
  border-radius: 50%;
  box-shadow: 0 0 5px;
  transition: color 0.5s ease-in-out;
}

/* ABOUT SECTION */

.blue-text {
  color: #2857a4;
}

#about-section {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.profile-pic {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-top: -5em;
  z-index: 2;
  border: 3px solid white;
  box-shadow: 0 0 15px gray;
}

.about-text {
  width: 85%;
  margin-top: auto;
  margin-bottom: auto;
}

.about-text p {
  color: gray;
  margin-top: 0;
}

/* SKILLS SECTION  */

#skills-section {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 2em;
}

h2 {
  margin-top: 0;
  color: #2857a4;
  font-size: 1.9rem;
}

/* PORTFOLIO SECTION */

#portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

.portfolio {
  min-width: 500px;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.portfolio-box {
  position: relative;
  margin-top: 2em;
  width: 225px;
}

.portfolio-box img {
  width: 100%;
  height: 200px;
}

.outer-box {
  display: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.portfolio-box:hover .outer-box {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(112, 112, 112, 0.265);
  box-shadow: 0 0 20px gray;
}

/* WORK EXPERIENCE SECTION */

#work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 3em;
}

.work-experience {
  position: relative;
  margin-top: 3em;
}

.timeline-box {
  position: relative;
  width: 300px;
  height: 180px;
  margin-left: auto;
}

/* .timeline-box:nth-child(2n) {
    left: 55%;
} */

.timeline-box:nth-child(3) {
  margin: 4em 0;
  margin-left: auto;
}

.timeline-divider {
  position: absolute;
  width: 0;
  height: 72%;
  border: 2px dotted lightgrey;
  left: -7%;
  margin-top: 2.75em;
}

.timeline-box::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(158, 158, 158, 0.841);
  top: 17%;
  left: -8%;
}

/* .timeline-box:nth-child(2n)::after {
    left: -12.1%;
} */

.plane-mover {
  position: sticky;
  transform: rotate(90deg);
  margin-top: -1.8em;
  top: 15%;
  z-index: 2;
}

.fa-plane {
  color: #2857a4;
  font-size: 1.8rem;
}

.left-align {
  text-align: left;
}

.job-role {
  text-align: right;
}

.designation-text,
.company-name-text,
.work-year-text {
  margin: 0;
}

.designation-text {
  /* font-size: 1.4rem; */
  color: #2857a4;
  font-weight: bolder;
  margin-bottom: 0.2em;
}

.company-name-text {
  color: rgb(255, 102, 46);
}

.work-year-text {
  color: grey;
}

.work-description-text {
  font-size: 0.9rem;
  color: grey;
  text-align: right;
}

/* CONTACT SECTION */

#contact-section {
  padding: 2em;
  background: linear-gradient(#2857a4, #403066);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  justify-content: center;
}

#contact-section h2 {
  color: whitesmoke;
}

#contact-section input,
#contact-section textarea {
  border: none;
  outline: none;
  background: none;
  color: whitesmoke;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid gray;
  margin-top: 1.5em;
  padding: 1em;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.contact-info {
  color: whitesmoke;
}

.social-icons2 i {
  color: whitesmoke;
  font-size: 1.1rem;
}

.social-icons2 {
  display: flex;
  gap: 2em;
}

/* MIN WIDTH 542PX */

.skills {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  gap: 1.5em;
  flex-wrap: wrap;
}

.skill-box {
  width: 140px;
  height: 30px;
  border-radius: 15px;
  background-color: lightgray;
}

.skill-box div {
  color: whitesmoke;
  display: flex;
  align-items: center;
  padding-left: 0.8em;
  box-sizing: border-box;
}

.blue-color {
  background-color: #2857a4;
}

.orange-color {
  background-color: rgb(228, 83, 30);
}

.pink-color {
  background-color: rgb(233, 187, 194);
}

.purple-color {
  background-color: rgb(129, 23, 129);
}

.cadet-color {
  background-color: cadetblue;
}

.fifty-percent {
  width: 50%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.seventy-percent {
  width: 70%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.forty-five-percent {
  width: 45%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.eighty-percent {
  width: 80%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media (min-width: 542px) {
  /* HEADER SECTION */

  .aside-menu-icon,
  #aside-menu-box {
    display: none;
  }

  nav {
    display: flex;
    margin-top: 1em;
    gap: 1em;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    color: lightgray;
    transition: 1s ease-in-out;
  }

  .social-icons {
    min-width: 220px;
  }

  .social-icons i {
    font-size: 1.2rem;
  }

  #profile-title {
    font-size: 2.5rem;
  }

  /* ABOUT SECTION */

  .about-text p {
    font-size: 1.2rem;
  }
}

@media (min-width: 767px) {
  /* HEADER SECTION */

  header {
    height: 50vh;
  }

  nav {
    gap: 1.7em;
  }

  nav a {
    font-size: 1.25rem;
  }

  .profile-info {
    gap: 1em;
  }

  #profile-title {
    font-size: 3rem;
  }

  .profile-pic {
    width: 165px;
    height: 165px;
    margin-top: -6em;
  }

  /* ABOUT SECTION */

  #about-section {
    height: 45vh;
  }

  .about-text {
    width: 58%;
  }

  .about-text p {
    font-size: 1.3rem;
  }

  /* SKILLS SECTION */

  #skills-section {
    height: 45vh;
  }

  h2 {
    font-size: 2.2rem;
  }

  .skills {
    width: 55%;
  }

  .skill-box {
    width: 160px;
    height: 30px;
  }

  /* PORTFOLIO SECTION */

  .portfolio {
    width: 75%;
    gap: 8em;
  }

  .portfolio-box {
    width: 255px;
  }

  .portfolio-box img {
    height: 220px;
  }

  /* WORK EXPERIENCE SECTION */

  .timeline-box {
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: auto;
  }

  .timeline-box:nth-child(2n) {
    left: 0;
    margin-left: 30em;
  }

  .timeline-divider {
    left: 50%;
  }

  .timeline-box:nth-child(3) {
    margin: 4em 0;
  }

  .timeline-box::before {
    left: -10.7%;
  }

  .timeline-box:nth-child(3)::before {
    left: 109.5%;
  }

  .designation-text {
    font-size: 1.4rem;
  }

  .company-name-text,
  .work-description-text {
    font-size: 1.1rem;
  }

  .contact {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    width: 55%;
  }

  .form input,
  textarea {
    font-size: 1rem;
  }

  .contact-info {
    width: 55%;
  }

  .social-icons2 i {
    font-size: 1.3rem;
  }

  .social-icons2 {
    gap: 3em;
  }
  /* #contact-section .social-icons {
    gap: 0em;
  } */
}
